input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.container{
    max-width: 540px;
}

#formulario{
    margin-bottom: 100px;
}

